################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/nLayerArchitecture
/API/bin/Debug/netcoreapp3.1
/API/obj
/API/API.csproj
/API/API.csproj.user
/Core/bin/Debug/netcoreapp3.1
/nLayerArchitecture.sln
/Service/bin/Debug/netcoreapp3.1
/Service/obj
/Service/Service.csproj
/Models/bin/Debug/netcoreapp3.1
/Models/obj
/Models/Models.csproj
/Entities/bin/Debug/netcoreapp3.1
/Entities/obj
/Entities/Entities.csproj
/Data/bin/Debug/netcoreapp3.1
/Data/Migrations
/Data/obj/Debug/netcoreapp3.1
/Data/obj/Data.csproj.EntityFrameworkCore.targets
/Data/obj
/Data/Data.csproj
/Core/obj
/Core/Core.csproj
